@model Entity.Concrete.Genre
@{
    ViewData["Title"] = "Film Türünü Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2></h2>
    </div>
    <div class="card-body pb-5 px-sm-5 pt-50">
        <div class="text-center mb-2">
            <h1 class="mb-1">Yeni Tür Ekle</h1>
            <p>Tüm alanları eksiksiz doldurun.</p>
        </div>

        @using (Html.BeginForm("UpdateGenre", "Genre", FormMethod.Post))
        {
            <div class="px-5">

            <div class="row px-5">
                <div class="col-12 mb-1">
                    <label class="form-label" for="name">Tür Adı</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeHolder = "Tür Adı", @value=Model.Name })
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
                <div class="col-12 mb-1">
                    <label class="form-label" for="name">Durum</label>
                    @Html.DropDownListFor(x => x.Status, new SelectList(new []{
                        new {Value="true", Text="Aktif", Selected=Model.Status==true},
                        new {Value="false", Text="Pasif", Selected=Model.Status==false}
                    }, "Value", "Text"), new {@class = "form-select form-select-lg form-control"})
                </div>
                <div class="col-12 text-center mt-2 pt-50">
                    <button id="updateGenreBtn" type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Güncelle</button>
                </div>
            </div>
            </div>
        }
    </div>
</div>

