@model List<Entity.Concrete.Movie>

<div class="container-fluid">
    <div class="text-center mb-4">
        <h1>Film Listesi</h1>
    </div>
    <div class="d-flex justify-content-end my-3">
        <a href="/Film/AddNewMovie" type="button" class="btn btn-primary waves-effect waves-float waves-light">Yeni Film Ekle</a>
    </div>
    <div class="row">
        @foreach (var movie in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <div style="position:relative; height:400px; background-size:cover !important; object-fit: cover; background: transparent url(https://cdn.shopify.com/s/files/1/0548/8404/0870/products/TheFrontLine-WarMoviePoster_821048c5-929c-44af-97ea-75dc51073889_1200x.jpg?v=1617381737) no-repeat center center;">
                        <div class="position-absolute top-0 start-0">
                            <span class="badge badge-glow bg-primary">IMDB: 7.0</span>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <span class="badge badge-glow bg-warning">2 saat 13 dakika</span>
                        </div>

                    </div>
                    <div class="card-body">
                        <p class="text-center">
                            <a class="card-text fw-bold">@movie.Name asda sdıj asdj aksd jaskd jaksd jalksd jkalsdjaksldjklas</a>
                        </p>
                        <div class="my-2">
                            <span class="badge bg-danger">Aksiyon</span>
                            <span class="badge bg-danger">Macera</span>
                            <span class="badge bg-danger">Bilim Kurgu</span>
                            <span class="badge bg-danger">Tarih</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
