@page
@model Admin.YTMovie.Views.IndexModel
@{

}


<div class="container-fluid">
    <div class="text-center mb-4">
        <h1>Film Listesi</h1>
    </div>
    <div class="d-flex justify-content-end my-3">
        <button type="button" class="btn btn-primary waves-effect waves-float waves-light" data-bs-toggle="modal" data-bs-target="#editUser">Yeni Film Ekle</button>
    </div>
    <div class="row">
        @for (var i = 0; i < 4; i++)
        {
            <div class="col-md-3">
                <div class="card">
                    <img class="w-100" height="500" src="@(i%2==0 ? "https://movieposterhd.com/wp-content/uploads/2019/03/Aladdin-2019-Poster-HD.jpg" : "https://p4.wallpaperbetter.com/wallpaper/852/644/1008/alien-movie-poster-sigourney-weaver-movie-poster-wallpaper-preview.jpg")" alt="Card image cap">
                    <div class="card-body">
                        <a class="card-text fw-bold">Yüzüklerin Efendisi Yüzük Kardeşliği</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@Html.Partial("AddNewMovie")
