.form-control {
    margin-bottom: 10px !important;
}


.field-validation-error {
    color: orangered !important;
    margin-bottom: 10px;
}

.input-validation-error {
    border: 1px solid #ab6c54 !important;
}